body {
    background: rgb(15, 11, 14);
  }
  
  .header-content {
    text-align: center;
  }
  
  .btn {
    background: transparent;
    border: none;
    background-color: rgb(203, 21, 63);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* JavaScript */
  .cats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .random_cats {
    width: 35%;
  }
  
  img {
    max-width: 600px;
    height: 25rem;
  }
  